.productList {
    display: block;
}
.productTable {
    margin: 3% auto 2% auto;
    width: 60%;
}
th {
    font-size: 2.2rem;
    vertical-align: center;
    display: table-cell;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
td {
    font-size: 1.6rem;
    display: table-cell;
    vertical-align: center;
    padding-bottom: 0.5%;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
input[type=checkbox] + label{
    display: block;
    margin: 2%;
    cursor: pointer;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label:before {
    content:"";
    border: 2px solid cornflowerblue;
    border-radius: 10%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    transition: .2s;
}
input[type=checkbox] + label:active:before{
    transform:scale(0);
}
input[type=checkbox]:checked + label:before{
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}
.view-button {
    display:inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(146, 146, 146);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.view-button:hover {
    background-color: rgb(111, 146, 146);
}
.edit-button {
    display:inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(62, 73, 226);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.edit-button:hover {
    background-color: rgb(27, 73, 226);
}
.delete-button {
    display:inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(233, 64, 64);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.delete-button:hover {
    background-color: rgb(198, 64, 64);
}