.viewProd {
    display: block;
    width: 40%;
    text-align: center;
    margin: 1% 30%;
}
li {
    list-style: none;
    font-size: 1.8rem;
    margin-bottom: 2%;
}
.bold {
    font-weight: bold;
}
.capitalize {
    text-transform: capitalize;
}
.viewbuttons {
    display: inline-flex;
    margin: 0 auto;
}
.viewclose-button {
    color:rgb(255, 255, 255);
    background-color: rgb(233, 64, 64);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.viewclose-button:hover {
    background-color: rgb(198, 64, 64);
}
.quantity-history-button {
    display:inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(146, 146, 146);
    height: 5rem;
    width: 8rem;
    font-size: 1.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.quantity-history-button:hover {
    background-color: rgb(111, 146, 146);
}
.price-history-button {
    display:inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(146, 146, 146);
    height: 5rem;
    width: 8rem;
    font-size: 1.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.price-history-button:hover {
    background-color: rgb(111, 146, 146);
}
.viewQuantity, h1 {
    font-size: 2rem;
}
.viewPrice, h1 {
    font-size: 2rem;
}
