.editForm {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    margin: 0 30% 0 30%;
    font-size: 1.8rem;
}
.editButtons {
    display: block;
    margin: 0 auto 2% auto;
}
.edit-save-button {
    display: inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(41, 153, 26);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
  }
.edit-save-button:hover {
    background-color: rgb(6, 146, 146);
  }
.close-edit-button {
    display: inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(233, 64, 64);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.close-edit-button:hover {
    background-color: rgb(198, 64, 64);
}
@media only screen and (max-width: 650px) {
    .editForm {
        width: 100%;
        margin: 0 auto;
    }
    .editButtons {
        display: inline-flex;
        margin: 0 auto;
    }
    .edit-save-button {
        height: 4rem;
        width: 5rem;
        font-size: 1.2rem;
    }
    .close-edit-button {
        height: 4rem;
        width: 5rem;
        font-size: 1.2rem;
    }
}