.createForm {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.createButtons {
    display: block;
    margin: 0 auto 2% auto;
}
.new-button {
    display: inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(41, 153, 26);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
  }
.new-button:hover {
    background-color: rgb(6, 146, 146);
  }
.close-button {
    display: inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(233, 64, 64);
    height: 5rem;
    width: 8rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 10%;
    cursor: pointer;
}
.close-button:hover {
    background-color: rgb(198, 64, 64);
}
input {
    width: 50%;
    text-align: center;
    margin: 1% auto;
    font-size: 1.6rem;
}